@use "sass:list";
@use "../partials/variables";

@mixin card-size($size, $orientation: vertical) {
  $height: list.nth($size, 1);
  $width: list.nth($size, 2);

  // Swap values if orientation is horizontal
  @if $orientation ==horizontal {
    $temp: $height;
    $height: $width;
    $width: $temp;
  }

  min-height: $height;
  height: $height;
  min-width: $width;
  width: $width;
}

.playing-card {
  position: relative;
  @include card-size(variables.$card-size-xl-desktop);
  border-radius: 8px;
  background-color: white;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);

  &.red {
    color: #c62828;
  }

  &.black {
    color: #000;
  }

  &.horizontal {
    @include card-size(variables.$card-size-xl-desktop, horizontal);
  }

  .playing-card-corner {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-weight: bold;
    font-size: 12px;

    &.top {
      top: 6px;
      left: 6px;
    }

    &.bottom {
      right: 6px;
      bottom: 6px;
      transform: rotate(180deg);
    }
  }

  &.playing-card-back {
    background: none;

    .playing-card-back-pattern {
      width: 100%;
      height: 100%;
      border: solid 2px white;
      border-radius: 8px;
      background: radial-gradient(circle at 50% 100%, #EB535380 5%, #EB5353 5% 10%, #EB535380 10% 15%, #EB5353 15% 20%, #EB535380 20% 25%, #EB5353 25% 30%, #EB535380 30% 35%, #EB5353 35% 40%, transparent 40%), radial-gradient(circle at 100% 50%, #EB535380 5%, #EB5353 5% 10%, #EB535380 10% 15%, #EB5353 15% 20%, #EB535380 20% 25%, #EB5353 25% 30%, #EB535380 30% 35%, #EB5353 35% 40%, transparent 40%), radial-gradient(circle at 50% 0%, #EB535380 5%, #EB5353 5% 10%, #EB535380 10% 15%, #EB5353 15% 20%, #EB535380 20% 25%, #EB5353 25% 30%, #EB535380 30% 35%, #EB5353 35% 40%, transparent 40%), radial-gradient(circle at 0 50%, #EB535380 5%, #EB5353 5% 10%, #EB535380 10% 15%, #EB5353 15% 20%, #EB535380 20% 25%, #EB5353 25% 30%, #EB535380 30% 35%, #EB5353 35% 40%, transparent 40%);
      background-size: 1em 1em;
      background-color: white;
      opacity: 1;
    }
  }
}

/* Mobile devices */
@media screen and (max-width: 600px) {
  .playing-card {
    @include card-size(variables.$card-size-mobile);

    &.horizontal {
      @include card-size(variables.$card-size-mobile, horizontal);
    }

    .playing-card-corner {
      font-size: 10px;
    }
  }
}

/* iPads, Tablets */
@media screen and (min-width: 601px) and (max-width: 768px) {
  .playing-card {
    @include card-size(variables.$card-size-tablet);

    &.horizontal {
      @include card-size(variables.$card-size-tablet, horizontal);
    }

    .playing-card-corner {
      font-size: 10px;
    }
  }
}

/* Small screens, laptops */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .playing-card {
    @include card-size(variables.$card-size-laptop);

    &.horizontal {
      @include card-size(variables.$card-size-laptop, horizontal);
    }

    .playing-card-corner {
      font-size: 10px;
    }
  }
}

/* Large Devices (Desktops) */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .playing-card {
    @include card-size(variables.$card-size-desktop);

    &.horizontal {
      @include card-size(variables.$card-size-desktop, horizontal);
    }

    .playing-card-corner {
      font-size: 10px;
    }
  }
}

/* Extra Large Devices (Large Desktops) */
@media only screen and (min-width: 1201px) {
  .playing-card {
    @include card-size(variables.$card-size-xl-desktop);

    &.horizontal {
      @include card-size(variables.$card-size-xl-desktop, horizontal);
    }

    .playing-card-corner {
      font-size: 12px;
    }
  }
}