@use "sass:list";
@use "../partials/variables";

.game-screen {
  // $card-size: variables.$card-size-xl-desktop;

  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;

  .player-north,
  .player-south {
    // height: list.nth($card-size, 1);
    width: 100%;
    display: flex;

    .pn-left,
    .pn-right,
    .ps-left,
    .ps-right {
      // $width: calc(list.nth($card-size, 1) + list.nth($card-size, 2));
      // width: $width;
      // min-width: $width;
      // background-color: blue;
    }

    // .pn-minimize,
    // .ps-minimize {
    //   width: list.nth($card-size, 1);
    // }

    .pn-left {
      display: flex;
      align-items: center;

      .exit-game-button {
        height: 40%;
        display: flex;
        align-items: center;
        // background-color: red;

        img {
          height: 100%;
          object-fit: contain;
        }

        .p-exit-game-container {
          height: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-around;

          .p-exit,
          .p-game {
            margin: 0;
            font-family: "Press Start 2P", system-ui;
            font-weight: 400;
            font-style: normal;
            font-size: 15px;
            text-shadow: 10px 2px 2px #262626;
            color: #f3cd31;
          }
        }

        &:hover {
          img {
            filter: brightness(0) invert(1);
          }

          .p-exit-game-container {

            .p-exit,
            .p-game {
              color: white;
            }
          }
        }
      }
    }

    .cards {
      height: 100%;
      flex: 1; // width
      display: flex;
      justify-content: center;
      overflow: hidden;
      // background-color: #f3cd31;

      .card:first-child {
        margin-left: 0 !important;
      }
    }
  }

  .table-row {
    flex: 1; // height
    width: 100%;
    display: flex;
    flex-direction: row;
    overflow: hidden;

    .player-west,
    .player-east {
      height: 100%;
      // width: list.nth($card-size, 1);
      display: flex;
      flex-direction: column;

      .pw-top,
      .pw-bottom,
      .pe-top,
      .pe-bottom {
        height: 0;
        // background-color: purple;
      }

      // .pw-maximize,
      // .pe-maximize {
      //   height: list.nth($card-size, 2);
      // }

      .cards {
        flex: 1; // height
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        overflow: hidden;

        .card:first-child {
          margin-top: 0 !important;
        }
      }
    }

    .table-center {
      height: 100%;
      flex: 1; // width
      display: flex;
      // background-color: green;
    }
  }
}

/* Mobile devices */
@media screen and (max-width: 600px) {
  .game-screen {
    $card-size: variables.$card-size-mobile;
    $height: list.nth($card-size, 1);
    $width: list.nth($card-size, 2);

    .player-north,
    .player-south {
      height: $height;

      .pn-left,
      .pn-right,
      .ps-left,
      .ps-right {
        width: calc($height + $width);
      }

      .pn-left {
        .exit-game-button {
          height: 30%;

          .p-exit-game-container {

            .p-exit,
            .p-game {
              font-size: 12px;
              text-shadow: 5px 1px 1px #262626;
            }
          }
        }
      }

      .pn-minimize,
      .ps-minimize {
        width: $height;
      }
    }

    .table-row {

      .player-west,
      .player-east {
        width: $height;

        .pw-maximize,
        .pe-maximize {
          height: $width !important;
          flex-basis: $width !important;
          flex-shrink: 0 !important;
        }
      }
    }
  }
}

/* iPads, Tablets */
@media screen and (min-width: 601px) and (max-width: 768px) {
  .game-screen {
    $card-size: variables.$card-size-tablet;
    $height: list.nth($card-size, 1);
    $width: list.nth($card-size, 2);

    .player-north,
    .player-south {
      height: $height;

      .pn-left,
      .pn-right,
      .ps-left,
      .ps-right {
        width: calc($height + $width);
      }

      .pn-left {
        .exit-game-button {
          height: 30%;

          .p-exit-game-container {

            .p-exit,
            .p-game {
              font-size: 12px;
              text-shadow: 5px 1px 1px #262626;
            }
          }
        }
      }

      .pn-minimize,
      .ps-minimize {
        width: $height;
      }
    }

    .table-row {

      .player-west,
      .player-east {
        width: $height;

        .pw-maximize,
        .pe-maximize {
          height: $width !important;
          flex-basis: $width !important;
          flex-shrink: 0 !important;
        }
      }
    }
  }
}

/* Small screens, laptops */
@media screen and (min-width: 769px) and (max-width: 1024px) {
  .game-screen {
    $card-size: variables.$card-size-laptop;
    $height: list.nth($card-size, 1);
    $width: list.nth($card-size, 2);

    .player-north,
    .player-south {
      height: $height;

      .pn-left,
      .pn-right,
      .ps-left,
      .ps-right {
        width: calc($height + $width);
      }

      .pn-minimize,
      .ps-minimize {
        width: $height;
      }
    }

    .table-row {

      .player-west,
      .player-east {
        width: $height;

        .pw-maximize,
        .pe-maximize {
          height: $width !important;
          flex-basis: $width !important;
          flex-shrink: 0 !important;
        }
      }
    }
  }
}

/* Large Devices (Desktops) */
@media only screen and (min-width: 1025px) and (max-width: 1200px) {
  .game-screen {
    $card-size: variables.$card-size-desktop;
    $height: list.nth($card-size, 1);
    $width: list.nth($card-size, 2);

    .player-north,
    .player-south {
      height: $height;

      .pn-left,
      .pn-right,
      .ps-left,
      .ps-right {
        width: calc($height + $width);
      }

      .pn-minimize,
      .ps-minimize {
        width: $height;
      }
    }

    .table-row {

      .player-west,
      .player-east {
        width: $height;

        .pw-maximize,
        .pe-maximize {
          height: $width !important;
          flex-basis: $width !important;
          flex-shrink: 0 !important;
        }
      }
    }
  }
}

/* Extra Large Devices (Large Desktops) */
@media only screen and (min-width: 1201px) {
  .game-screen {
    $card-size: variables.$card-size-xl-desktop;
    $height: list.nth($card-size, 1);
    $width: list.nth($card-size, 2);

    .player-north,
    .player-south {
      height: $height;

      .pn-left,
      .pn-right,
      .ps-left,
      .ps-right {
        width: calc($height + $width);
      }

      .pn-minimize,
      .ps-minimize {
        width: $height;
      }
    }

    .table-row {

      .player-west,
      .player-east {
        width: $height;

        .pw-maximize,
        .pe-maximize {
          height: $width !important;
          flex-basis: $width !important;
          flex-shrink: 0 !important;
        }
      }
    }
  }
}