/* Mobile devices */
$card-size-mobile: 90px 60px; // height width

/* iPads, Tablets */
$card-size-tablet: 90px 60px; // height width

/* Small screens, laptops */
$card-size-laptop: 105px 70px; // height width

/* Large Devices (Desktops) */
$card-size-desktop: 105px 70px; // height width

/* Extra Large Devices (Large Desktops) */
$card-size-xl-desktop: 120px 80px; // height width