.app {
	position: relative;
	height: 100%;
	width: 100%;
	background-color: #161925;
	background-image: repeating-radial-gradient(circle at 0 0, transparent 0, #161925 4px), repeating-linear-gradient(#30365055, #303650);

	.main-menu-screen {
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;

		.game-title-container {
			height: max-content;
			width: 100%;
			display: flex;
			justify-content: center;
		}

		.play-button-container {
			position: absolute;
			height: 100%;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}

}