.app {
	position: relative;
	height: 100%;
	width: 100%;
	background-color: #e5e5f7;
	opacity: 1;
	background-image: radial-gradient(#303650 0.5px, #161925 0.5px);
	background-size: 10px 10px;

	.main-menu-screen {
		height: 100%;
		width: 100%;
		display: flex;
		flex-direction: column;

		.game-title-container {
			height: max-content;
			width: 100%;
			display: flex;
			justify-content: center;
		}

		.play-button-container {
			position: absolute;
			height: 100%;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
		}
	}
}